.aboutUsBanner{
  width: 100%;
  border-bottom: 2vw solid black;
}

.loremIpsumHeHasNoIdeaWhatToDesign{
  background: white;
  padding: 0.1px;
  padding-left: 11.61103vw;
  padding-top: 9.0469vw;
  position: relative;
  padding-bottom: 9.0469vw;
}

.loremIpsumHeHasNoIdeaWhatToDesign h3{
  font-size: 1.741vw;
  font-family: 'Lato-Bold';
}
.loremIpsumHeHasNoIdeaWhatToDesign p{
  font-size: 1.1611vw;
  font-family: 'Lato-Regular';
  width: 54.958vw;
}

.loremIpsumHeHasNoIdeaWhatToDesign h2{
  position: absolute;
  font-size: 6.289vw;
  font-family: 'Lato-Black';
  color: #d8d8d9;
  margin: 0;
  writing-mode: tb;
  bottom: 2vw;
  right: 16vw;
}
