main{
  padding: 0.1px;
  position: relative;
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
}

.content{
  position: relative;
  display: flex;
}

.addSpaceLeft{
  padding: 0.1px;
  background-color: #eaeaea;
  width: 33.72vw;
  flex-shrink: 0;
  padding-top: 4vw;
  height: calc(100% - 4vw);
}

.addSpaceLeft p{
  position: relative;
  background-color: #eaeaea;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  font-size: 1.772vw;
  font-family: 'Lato-Black';
  color: #8f8f96;
  margin: 0;
  margin-right: 4px;
  margin-bottom: 0.15vw;
  padding-left: 5.169vw;
  height: 3.348vw;
  border-right: .1969vw solid transparent;
  user-select: none;
  box-shadow: 0.2469135vw 0.2469135vw 3.407407vw -1.53086vw rgba(0,0,0,0);
}
.addSpaceLeft p:hover{
  border-right: .1969vw solid rgba(96,210,131,0.35);
  cursor: pointer;
  filter: brightness(1.04);
  box-shadow: 0.2469135vw 0.2469135vw 3.407407vw -1.53086vwx rgba(0,0,0,0.75);
}

[data-selected="1"]{
  color: black !important;
  border-right: .1969vw solid #60d283 !important;
  box-shadow: 1px 1px 3.407407vw -1.50086vw rgba(0,0,0,0.75) !important;
  z-index: 1;
}

/* rightContent */
.rightContent{
  display: none;
}
.addSpaceRight .rightContent:nth-child(1){
  display: block;
}
.addSpaceRight{
  position: relative;
  /* border: 1px solid red; */
  padding-left: 2.39vw;
  padding-top: 4.8780vw;
}



.rightContent h2{
  font-size: 1.577vw;
  color: #60d283;
  margin: 0;
  font-family: 'Lato-Bold';
  /* margin-top: 1.9vw; */
}

.rightContent h3{
  font-size: 1.126vw;
  color: #555555;
  font-family: 'Lato-Regular';
  font-weight: 100;
}

.rightContent p{
  font-size: 0.78vw;
  color: #555555;
  font-family: 'Lato-Regular';
  margin: 0;
  margin-top: 0.65vw;
}

.continueButton{
  width: 11.39vw;
  height: 3vw;
  border: none;
  font-family: 'Lato-Bold';
  font-weight: 100;
  font-size: 1.46vw;
  background-color: #6de194;
  color: white;
  margin-left: 26vw;
  margin-bottom: 7vw;
}
.continueButton:hover{
  cursor: pointer;
}

.black{
  color: #000 !important;
}
.bold{
  font-family: 'Lato-Bold' !important;
}

/* contOne */

.contOne h3{
  margin-top: 4.1463vw;
  width: 33.087vw;
}
.contOne .continueButton{
  margin-left: 18vw;
  margin-top: 6.2vw
}

/* contTwo */

.contFormContainer{
  position: relative;
  margin-left: 1.355vw;
}
.contTwo h3{
  font-family: 'Lato-Light';
  margin-top: 3.47vw;
  line-height: 1.5;
  margin-bottom: 0;
}
.contTwo form{
  background-color: #f8f9fa;
  padding: 0.1px;
  width: 46.6vw;
  padding-left: 3.0582vw;
  padding-top: 1.46vw;
  padding-bottom: 3.5vw;
}
.hr{
  height: 2px;
  background:  #eaecf0;
  margin-top: 1.5vw;
  margin-bottom: 1.3vw;
}
.contTwo form h3{
  margin: 0;

}
.contInputContainer{
  display: flex;
  /* flex-direction: column; */
}

.inputText{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 0.6vw;
}
.inputFields{
  /* border: 1px solid; */
  margin-left: 2.5vw;
}
.inputFields input{
  border: 1px solid #d1d5dd;
  background: white;
  width: 22.815vw;
  height: 2.766vw;
  border-radius: 5px;
  margin-bottom: 0.6vw;
}
.contTwo h4{
  font-size: 1.17vw;
  color: #555555;
  font-family: 'Lato-Regular';
  margin-left: 1.2vw;
}

.codeInput{
  width: 4.951vw;
  position: relative;
  height: 2.13vw;
  border: 1px solid #555555;
  top: -2px;
  margin-left: 18.7vw;
  margin-right: 2.6vw;
}
.codeEnterButon{
  width: 7.427vw;
  height: 2.33vw;
  border: 1px solid #f79d1d;
  background-color: #f79d1d;
  color: white;
  font-size: 1.165vw;
}

.avatarTextContainer{
  display: flex;
  align-items: center;
  margin-top: -1vw;
}

.avatarTextContainer img{
width: 13.3vw;

}

.uploiadApic{
  margin: 0 !important;
  margin-top: 1.2vw !important;
  font-family: 'Lato-Bold' !important;
  margin-left: 3.4vw !important;
}

.avatarTextContainer h3{
  margin: 0;
  font-family: 'Lato-Regular';
}


/* contThree */
.contThree{

}
.catchyTitle{
  margin-top: 3.8vw !important;
}

.FirstStep{

}
.example{
  margin-bottom: 0;
}
.downtownBoston{
  margin: 0;
}
.contThree input{
  width: 29.4174vw;
  height: 2.5699vw;
  margin-top: 1.3vw;
  border: 1px solid #555555;
  margin-bottom: 1.6vw;
}
.describeHtwo{
  margin-top: 2vw !important!
}
.addDescription{
  width: 44.5vw;
  font-size: 1.11vw;
}

.contThree textarea{
  resize: none;
  width: 44.66vw;
  height: 13.3495vw;
}

.howBig{
  margin-top: 4.85vw !important;
}

.contThree h4{
  color: #555555;
  font-size: 1.1622vw;
  font-family: 'Lato-Regular';
}

.sqImageContractContainer{
  display: flex;
  height: 2.5699vw;
}

.sqImageContractContainer input{
  width: 6.1985vw;
  margin: 0 !important;
  height: auto;
}
.sqImageContractContainer button{
  font-size: 1.1622vw;
  font-family: 'Lato-Regular';
  background: white;
  border: 1px solid #555555;
  border-left: none;
  color: #8f8f96;
}
.contThree .continueButton{
  margin-top: 4vw;
  margin-left: 29.4vw;
}

/* contFour */
.contFour h3{
  font-size: 1.4vw;
  margin-top: 3.5vw;
}

.contFour h4{
  font-size: 1.1622vw;
  font-family: 'Lato-Regular';
  color: #8f8f96;
  font-weight: 100;
}

.contFour textarea{
  width: 32.687vw;
  height: 11.912vw;
  resize: none;
}

.contFour .continueButton{
  margin-left: 18vw;
  margin-top: 4.4vw;
}


/* contFive */
.contFive{

}

.spaceLocation{
  margin-top: 3.7vw !important;
  margin-bottom: 2vw !important;
}

.contFive input{
  height: 2.25vw;
  margin-bottom: 0.74vw;
}
.contFive .continueButton{
  margin-left: 14vw;
  margin-top: 3vw;
}

.city, .state{
  width: 13.656vw;
}


/* contSix */
.contSix{

}

.contSix h4{
  font-weight: 100;
  font-size: 1.065vw;
  font-family: 'Lato-Regular';
  color: #8f8f96;
  margin-bottom: 0.5vw;
}

.contSix input{height: 2.66vw;margin-bottom: 0.45vw;width: 13.6561vw;}

.contSix .spaceLocation{
  margin-bottom: 3.7vw !important;
}

.contSix .continueButton{
  margin-top: 4vw;
  margin-left: 16vw;
}
