.studioSpacesPopup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 6;
  text-align: center;
  color: white;
  background: black;
  transition: 0.5s ease;
}

.studioPopUpTextone{
  position: relative;
  font-family: 'Lato-Regular';
  font-size: 3.4375vw;
}
.studioPopUpTexttwo{
  position: relative;
  font-family: 'Lato-Bold';
  font-size: 7.5vw;
  margin: 0;
}
.studioPopUpTextthree{
  position: relative;
  font-family: 'Lato-Light';
  font-size: 3.4375vw;
}
.studioSpacesPopUpButtonContainer{
  display: flex;
  justify-content: center;
    position: relative;
}
.studioSpacesPopUpButtonContainer button{
  margin: 2vw;
  width: 18.75vw;
  height: 4.875vw;
  background: #ffa26e;
  font-size: 1.6875vw;
  color: white;
  font-family: 'Lato-Bold';
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}

.studioSpacesPopup img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

main{
  padding: 0.1px;
  position: relative;
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
}

.content{
  position: relative;
  display: flex;
}

.content input, .content textarea{
  font-size: 1.165vw;
  color: #555555;
}

.addSpaceLeft{
  padding: 0.1px;
  background-color: #eaeaea;
  width: 33.72vw;
  flex-shrink: 0;
  padding-top: 4vw;
  height: calc(100% - 4vw);
}

.addSpaceLeft p{
  position: relative;
  background-color: #eaeaea;
  transition: all 0.4s ease;
  /* display: flex; */
  align-items: center;
  font-size: 1.772vw;
  font-family: 'Lato-Black';
  color: #8f8f96;
  margin: 0;
  margin-right: 4px;
  margin-bottom: 0.15vw;
  padding-left: 5.169vw;
  height: 3.348vw;
  border-right: .1969vw solid transparent;
  user-select: none;
  box-shadow: 0.2469135vw 0.2469135vw 3.407407vw -1.53086vw rgba(0,0,0,0);
}
.spacerLeftMenuSelection{
  display: flex;
}
.addSpaceLeft p:hover{
  border-right: .1969vw solid rgba(96,210,131,0.35);
  cursor: pointer;
  filter: brightness(1.04);
  box-shadow: 0.2469135vw 0.2469135vw 3.407407vw -1.53086vwx rgba(0,0,0,0.75);
}

[data-selected="1"]{
  color: black !important;
  border-right: .1969vw solid #60d283 !important;
  box-shadow: 1px 1px 3.407407vw -1.50086vw rgba(0,0,0,0.75) !important;
  z-index: 1;
}

/* rightContent */
.rightContent{
  display: none;
}
.addSpaceRight .rightContent:nth-child(1){
  display: block;
}
.addSpaceRight{
  position: relative;
  /* border: 1px solid red; */
  padding-left: 2.39vw;
  padding-top: 4.8780vw;
}



.addSpaceRight h2{
  font-size: 1.577vw;
  color: #60d283;
  margin: 0;
  font-family: 'Lato-Bold';
  /* margin-top: 1.9vw; */
}

.addSpaceRight h3{
  font-size: 1.126vw;
  color: #555555;
  font-family: 'Lato-Regular';
  font-weight: 100;
}

.addSpaceRight p{
  font-size: 0.78vw;
  color: #555555;
  font-family: 'Lato-Regular';
  margin: 0;
  margin-top: 0.65vw;
}

.continueButton{
  width: 11.39vw;
  height: 3vw;
  border: none;
  font-family: 'Lato-Bold';
  font-weight: 100;
  font-size: 1.46vw;
  background-color: #6de194;
  color: white;
  margin-left: 26vw;
  margin-bottom: 7vw;
}
.continueButton:hover{
  cursor: pointer;
}

.black{
  color: #000 !important;
}
.bold{
  font-family: 'Lato-Bold' !important;
}

/* contOne */

.contOne h3{
  margin-top: 4.1463vw;
  width: 33.087vw;
}
.contOne .continueButton{
  margin-left: 18vw;
  margin-top: 6.2vw
}

/* contTwo */

.contFormContainer{
  position: relative;
  /* margin-left: 1.355vw; */
}
.logedinOrangeBox{
  background: #fff0e7;
  font-family: 'Lato-Regular';
  font-size: 1.126vw;
  width: 24vw;
  padding: 1vw;
  margin-top: 2vw;
  line-height: 1.4;
}
.logedinOrangeBox a{
  cursor: pointer;
  text-decoration: none;
  color: #60d283;
  font-weight: 900;
}
.logedinOrangeBox p{

}
.contTwo h3{
  font-family: 'Lato-Light';
  margin-top: 3.47vw;
  line-height: 1.5;
  margin-bottom: 0;
}
.contTwo form{
  background-color: #f8f9fa;
  padding: 0.1px;
  width: 46.6vw;
  padding-left: 3.0582vw;
  padding-top: 1.46vw;
  padding-bottom: 3.5vw;
}
.hr{
  height: 2px;
  background:  #eaecf0;
  margin-top: 1.5vw;
  margin-bottom: 1.3vw;
}
.contTwo form h3{
  margin: 0;

}
.contInputContainer{
  display: flex;
  /* flex-direction: column; */
}

.inputText{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 0.6vw;
}
.inputFields{
  /* border: 1px solid; */
  margin-left: 2.5vw;
}
.inputFields input{
  border: 1px solid #d1d5dd;
  background: white;
  width: 22.815vw;
  height: 2.766vw;
  border-radius: 5px;
  margin-bottom: 0.6vw;
}
.contTwo h4{
  font-size: 1.17vw;
  color: #555555;
  font-family: 'Lato-Regular';
  margin-left: 1.2vw;
  font-weight: 100;
}

.codeInput{
  width: 4.951vw;
  position: relative;
  height: 2.13vw;
  border: 1px solid #555555;
  top: -2px;
  margin-left: 18.7vw;
  margin-right: 2.6vw;
}
.codeEnterButon{
  width: 7.427vw;
  height: 2.33vw;
  border: 1px solid #f79d1d;
  background-color: #f79d1d;
  color: white;
  font-size: 1.165vw;
}

.avatarTextContainer{
  display: flex;
  align-items: center;
  margin-top: -1vw;
}

.avatarTextContainer img{
width: 13.3vw;

}

.uploiadApic{
  margin: 0 !important;
  margin-top: 1.2vw !important;
  font-family: 'Lato-Bold' !important;
  margin-left: 3.4vw !important;
}

.avatarTextContainer h3{
  margin: 0;
  font-family: 'Lato-Regular';
}


/* contThree */
.contThree{

}
.catchyTitle{
  margin-top: 3.8vw !important;
}

.FirstStep{

}
.example{
  margin-bottom: 0;
}
.downtownBoston{
  margin: 0;
}
.contThree input{
  width: 28.4174vw;
  height: 2.5699vw;
  margin-top: 1.3vw;
  border: 1px solid #555555;
  margin-bottom: 1.6vw;
  padding-left: 1vw;
  font-size: 1.165vw;
  color: #555555;
}
.contThreeInput::placeholder{
  color: #8f8f96;
  font-size: 1.165vw;
  font-family: 'Lato-Regular';
}
.describeHtwo{
  margin-top: 2vw !important!
}
.addDescription{
  width: 44.5vw;
  font-size: 1.11vw;
}

.contThree textarea{
  resize: none;
  width: 44.66vw;
  height: 13.3495vw;
  font-size: 1.165vw;
  color: #555555;
}

.howBig{
  margin-top: 4.85vw !important;
}

.contThree h4{
  color: #555555;
  font-size: 1.1622vw;
  font-family: 'Lato-Regular';
}

.sqImageContractContainer{
  display: flex;
  height: 2.5699vw;
}

.sqImageContractContainer input{
  width: 6.1985vw;
  margin: 0 !important;
  height: auto;
}
.sqImageContractContainer button{
  font-size: 1.1622vw;
  font-family: 'Lato-Regular';
  background: white;
  border: 1px solid #555555;
  border-left: none;
  color: #8f8f96;
}
.contThree .continueButton{
  margin-top: 4vw;
  margin-left: 29.4vw;
}

/* contFour */
.contFour h3{
  font-size: 1.4vw;
  margin-top: 3.5vw;
}

.contFour h4{
  font-size: 1.1622vw;
  font-family: 'Lato-Regular';
  color: #8f8f96;
  font-weight: 100;
}

.contFour textarea{
  width: 32.687vw;
  height: 11.912vw;
  resize: none;
}

.contFour .continueButton{
  margin-left: 18vw;
  margin-top: 4.4vw;
}


/* contFive */
.contFive{

}

.spaceLocation{
  margin-top: 3.7vw !important;
  margin-bottom: 2vw !important;
}

.contFive input{
  height: 2.25vw;
  margin-bottom: 0.74vw;
}
.contFive .continueButton{
  margin-left: 14vw;
  margin-top: 3vw;
  padding-left: 0.728vw
}

.city, .state{
  width: 12.9vw;
  padding-left: 0.728vw
}

.zipCode{
  width: 7.258vw;
  padding-left: 0.728vw
}


/* contSix */
.contSix{

}

.contSix h4{
  font-weight: 100;
  font-size: 1.065vw;
  font-family: 'Lato-Regular';
  color: #8f8f96;
  margin-bottom: 0.5vw;
}

.contSix input{height: 2.66vw;margin-bottom: 0.45vw;width: 13.6561vw;}

.contSix .spaceLocation{
  margin-bottom: 3.7vw !important;
}

.contSix .continueButton{
  margin-top: 4vw;
  margin-left: 16vw;
}



/* custom checkbox */
.checBoxesContainer{
  display: flex;
}
.checBoxesContainer div{
  margin-right: 2vw;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Lato-Regular';
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
