
div{
  position: relative;
}
.loadingVid{
  transition: 1s;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  z-index: 10;
  text-align: center;
}

.loadingVid video{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.loadingVid p{
  position: absolute;
  width: 100%;
  color: white;
}

.theStu {
  filter: blur(1px);
  transition: all 2s ease;
  font-family: 'Montserrat-Black';
  font-size: 1vw;
  top: 35vh;
  margin: 0;
}
.talent {
  transition: all 1.5s ease;
  font-family: 'Montserrat-Regular';
  top: 70vh;
  margin: 0;
  font-size: 3vw;
  opacity: 0.7;
  filter: blur(50px);
}


/* selected bands */
#bands{
  color: #00ecb4 !important;
}

.gridContainer{
  display: flex;
  /* margin-top: 2.560vw; */
}
.gridContainer video{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.leftGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(35,5vw);
  /* border: 1px solid blue; */
  width: 59vw;
  grid-gap: 0.3925vw;
  margin-right: 0.3925vw;
}
.leftGrid div{
  overflow: hidden;
}
.leftGrid img{
  min-height: 100%;
  width: 100%;
}

.gridWide{
  grid-column: span 3;
  grid-row: span 7;
}
.gridMiddle{
  grid-column: span 2;
  grid-row: span 5;
}
.gridSmall{
  grid-column: span 1;
  grid-row: span 5;
}

/* RightGrid */
.RightGrid{
  width: 40vw;
}

.rightGridBox{
  position: relative;
  /* border: 1px solid green; */
}
.rightGridBox img{
  width: 100%;
  margin-bottom: 0.2944vw;
}

.gridWide:hover > .gridBoxContent{
  opacity: 1;
}
.gridMiddle:hover > .gridBoxContent{
  opacity: 1;
}
.gridSmall:hover > .gridBoxContent{
  opacity: 1;
}



.gridBoxContent{
  opacity: 0;
  background-color: rgba(109,219,16,0.70);
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gridBoxContent h2{
  font-size: 4.9236vw;
  color: white;
  font-family: 'Lato-Black';
  margin: 0;
  margin-top: 16.539vw;
  margin-bottom: -0.8vw;
  margin-left: 5.219vw;
}

.gridBoxContent hr{
  margin-left: 5.219vw;
  /* color: rebeccapurple; */
  background: #6dd510;
  height: 1px;
  border: none;
  width: 44.7vw;
}

.gridBoxContent p{
  color: white;
  font-size: 1.772vw;
  font-family: 'Lato-Black';
  margin: 0;
  margin-top: 1.3vw;
  margin-left: 5.219vw;
}

/* one */
.gridBoxContentOne{
  opacity: 0;
  transition: all 0.5s ease;
  background-color: rgba(109,219,16,0.70);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.gridBoxContentOne h2{
  font-size: 2.954vw;
  color: white;
  font-family: 'Lato-Black';
  margin: 0;
  margin-top: 14vw;
  margin-bottom: -0.8vw;
  margin-left: 5.219vw;
}

.gridBoxContentOne hr{
  margin-left: 5.219vw;
  /* color: rebeccapurple; */
  background: #6dd510;
  height: 1px;
  border: none;
  width: 30.7vw;
}

.gridBoxContentOne p{
  color: white;
  font-size: 1.772vw;
  font-family: 'Lato-Black';
  margin: 0;
  margin-top: 1.3vw;
  margin-left: 5.219vw;
}

.gridWide:hover > .gridBoxContentOne{
  opacity: 1;
}
.gridMiddle:hover > .gridBoxContentOne{
  opacity: 1;
}
.gridSmall:hover > .gridBoxContentOne{
  opacity: 1;
}

/* two */
.gridBoxContentTwo{
  opacity: 0;
  transition: all 0.5s ease;
  background-color: rgba(109,219,16,0.70);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.gridBoxContentTwo h2{
  font-size: 2.954vw;
  color: white;
  font-family: 'Lato-Black';
  margin: 0;
  margin-top: 11%;
  margin-bottom: -0.8vw;
  margin-left: 5.219vw;
}

.gridBoxContentTwo hr{
  margin-left: 5.219vw;
  /* color: rebeccapurple; */
  background: #6dd510;
  height: 1px;
  border: none;
  width: 30.7vw;
}

.gridBoxContentTwo p{
  color: white;
  font-size: 1.772vw;
  font-family: 'Lato-Black';
  margin: 0;
  margin-top: 1.3vw;
  margin-left: 5.219vw;
}

.rightGridBox:hover > .gridBoxContentTwo{
  opacity: 1;
}




iframe{
  width: 100%;
  /* height: 100%; */
}
iframe video{
  object-fit: fill;
}

iframe .ytp-chrome-top, .ytp-chrome-bottom{
  display: none !important;
}
