
/* addToPopUp */
.popUpExitBLackBox{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
}
.addToPopUp{
  font-family: 'Lato-Regular';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7;
  display: none;
  align-items: center;
  justify-content: center;
}

.popUpBox{
  width: 31.956vw;
  height: 14.5652vw;
  background: #484848;
  overflow: hidden;
}
.popupHeader{
  width: 100%;
   height: 2.75362vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #68ca9b;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
.popupHeader p{
  color: white;
  font-family: 'Lato-Regular';
  margin: 0;
  font-size: 1.3vw;
}
.selectAPlaylist p{
  font-size: 0.9420vw;
  color: #ababab;
  margin: 0;
}
.selectAPlaylist{
  display: flex;
  margin-top: 1.47vw;
  align-items: center;
  padding-left: 2.4vw;
}
.popupInputBox{
  /* border: 1px solid red; */
  height: 1.666vw;
  display: flex;
  margin-left: 1.2vw;
}
.popupInputBox input{
  width: 17.231vw;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  background: #565656;
  border: none;
  border-radius: 0.3vw;
}

.popupInputBox button{
  transition: all 0.5s ease;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  width: 2.53623vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #707070;
  filter: brightness(1);
}

.popupInputBox button:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.popUpButonTriangle{
  width: 0;
  height: 0;
  border: 0.25vw solid transparent;
  border-top:0.25vw solid #b9b9b9;
  position: relative;
  top: 0.125vw;
}
.popupCreateNewPlaylist{
  font-size: 0.9420vw;
  margin-left: 2.4vw;
  color: #ababab;
  margin-top: 1.3vw;
}
.popupCreateNewPlaylist a{
  font-size: 0.9420vw;
  text-decoration: none;
  color: #7878d1;
}
.popupCreateNewPlaylist a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.popupButtonBox{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.popupButtonBox button{
  transition: all 0.5s ease;
  border: 1px solid white;
  width: 4.855vw;
  height: 1.739vw;
  color: white;
  font-size: 1.0144vw;
  margin-bottom: 1.594vw;
}

.popupButtonBox button:nth-child(1){
  background: transparent;
  margin-right: 0.7971vw;
}

.popupButtonBox button:nth-child(2){
  background: #68ca9b;
  margin-right: 2.60869vw;
}
.popupButtonBox button:nth-child(1):hover{
  background: #68ca9b;
  cursor: pointer;
}
.popupButtonBox button:nth-child(2):hover{
  background: transparent;
  cursor: pointer;
}

/* addToPopUp */
body{
  padding: 0;
  margin: 0;
  background: black;
}

div{
  position: relative;
}

.bgVid{
  position: relative;
  width: 100%;
  height: 100vh;
}

.bgVidDiv, .blackOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.bgVidDiv{
  height: 104vh;
  top: -4vh;
}

.blackOverlay{
  background-color: rgba(0,0,0,0.5);
}

.nav{
  display: flex;
  margin-top: 1.75vw;
  justify-content: center;
  align-items: center;
}

.destinationNav{
  color: white;
  display: flex;
  font-family: 'Lato-Regular';
  font-size: 1.171vw;
}

.searchContainer{
  display: flex;
  height: 3vw;
  z-index: 1;
}
.searchContainerInput{
  color: white;
  padding: 0;
  height: 100%;
  width: 51.3vw;
  background-clip: content-box;
  border-left: 0.36231vw solid rgba(255,255,255,0.5);
  border-top: 0.36231vw solid rgba(255,255,255,0.5);
  border-bottom: 0.36231vw solid rgba(255,255,255,0.5);
  border-top-left-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
  border-right: 0;
  box-sizing: border-box;
  background: #212121;
  padding-left: 1vw;
  font-size: 1.2843vw;
  background-clip: padding-box;
}
.searchContainerInput::placeholder{
  color: white;
  font-size: 1.3043vw;
  /* padding-left: 1vw; */
}

.searchContainer button{
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5652vw;
  height: 100%;
  background-color: #68ca9b;
  background-clip: content-box;
  padding: 0;
  border: 0.36231vw solid rgba(255,255,255,0.5);
  border-top-right-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
  box-sizing: border-box;
  flex-shrink: 0;
  background-clip: padding-box;
}
.searchContainer button:hover{
  cursor: pointer;

  background-color: #98cf9f;
}
.searchContainer button img{
  width: 1.5217vw;
  flex-shrink: 0;
}

.ytSearchMenu{
  transition: all 0.4s ease;
  position: absolute;
  width: 50vw;
  left: 0;
  top: 3vw;
  background: #282828;
  padding-left: 1.37681vw;
  padding-right: 5.5072vw;
  height: auto;
  overflow: hidden;
  overflow-y: auto;
  /* max-height: 41vw; */
  max-height: 0vw;
}

.ytSearchMenuItem{
  display: flex;
  height: 5.72463vw;
  margin-bottom: 1.3043vw;
}
.ytSearchMenuItem:nth-child(1){
  margin-top: 1.7391vw;
}
.ytSearchItemImage{
  height: 100%;
  border: 1px solid #858585;
  flex-shrink: 0;
}

.ytSearchContent{
  /* width: 27vw; */
  margin-left: 2vw;
}

.ytSearchContent a{
  font-size: 1.159vw;
  color: white;
  font-family: 'Lato-Regular';
  text-decoration: none;
}
.ytSearchContent a:hover{
  text-decoration: underline;
}
.searchVidDescription{
  color: #aaaaaa;
  font-family: 'Lato-Regular';
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0144vw;
}

.searchVidMakeThisVidBG{
  margin: 0;
  margin-left: 1vw;
  font-family: 'Lato-Regular';
  color: #345da7;
  font-weight: 700;
}

.searchVidMakeThisVidBG input{
  position: relative;
  top: 0.15vw;
}

.AddTo{
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'Lato-Regular';
  margin: 0;
  font-size: 1.01449vw;
  color: #68ca9b;
  margin-bottom: 1.2vw;
}

.AddTo:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* main */
main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.videosContainer{
  width: 88.6231vw;
  /* border: 1px solid red; */
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.videoContentBox{
  background: #333333;
  width: 43.478vw;
  height: 7.8985vw;
  /* border: 1px solid green; */
  display: flex;
  /* margin-bottom: 1.3vw; */
  border: 1px solid #606060;
  /* padding-right: 0px; */
}
.videoContentBox:hover .vidTitleBox{
  background: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 100%);
}
.videoContentBoxHolder{
  width: 43.478vw;
  height: 7.8985vw;
  /* border: 1px solid red; */
  margin-bottom: 1.3vw;
  order: auto;
}

.favVidImage{
  height: 100%;
  width: 13.4vw;
  /* border: 1px solid black; */
  overflow: hidden;
  flex-shrink: 0;
}
.favVidImage img{
  height: 100%;
}
.favVidImage img:hover{
  cursor: pointer;
}

.videoContentInside{
  width: 100%;
}
.videoContentInside:hover{
  cursor: grab;
}

.vidTitleBox{
  transition: all 0.5s ease;
  background-position: 0 -5%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 105%);
  /* border: 1px solid purple; */
  display: flex;
  height: 2.1014vw;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.vidTitleBox h3{
  position: relative;
  left: 1.6666vw;
  font-size: 1.1594vw;
  margin: 0;
  color: #659bfd;
  font-family: 'Lato-Regular';
}
.vidTitleBox h3:hover{
  text-decoration: underline;
  cursor: pointer;
}
.vidTitleBox p{
  position: relative;
  left: -0.86956vw;
  font-size: 0.8695vw;
  margin: 0;
  color: #659bfd;
  font-family: 'Lato-Regular';
}

.vidDescriptionBox{

}
.vidDescriptionBox input {
  width: 94%;
  padding-left: 6%;
  padding-right: 0;
  height: 2vw;
  background: #333333;
  font-size: 0.85vw;
  border: none;
  outline: none;
  color: #797979;
}

.vidNav{
  width: 99.5%;
  height: 2.24637vw;
  border-top: 2px solid black;
  box-shadow: inset 0px 1px 0px 0px rgba(72,72,72,0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  /* margin-right: 24vw; */
}
.vidNav p{
  color: #345da7;
  margin: 0;
  /* margin-bottom: 0.2vw; */
  font-family: 'Lato-Regular';
  font-weight: 700;
}
.vidNav p:hover{
  cursor: pointer;
}
.vidNav p:nth-child(1){
  color: #aaaaaa;
}

.vidNav p:hover{
  text-decoration: underline;
}





/* custom style.css */
.userMenuContainer{
  top: auto;
}
