.feedBackContainer{
  width: 50%;
  margin-left: 25%;
}

.feedBackContainer h2{
  font-family: 'Lato-Regular';
  font-size: 1.6vw;
}

.feedBackContainer textarea{
  resize: none;
  border: 1px solid #333333;
  padding-left: 2%;
  font-size: 1.5vw;
  width: 98%;
  font-family: 'Lato-Thin';
}

.feedBackContainer button{
  border: none;
    cursor: pointer;
    background: #4ee29b;
    color: white;
    font-family: 'Lato-Bold';
    font-size: 1.5vw;
    padding: 0.5vw 1.5vw;
    margin: 0.5vw 0 2vw 0;
    transition: 0.4s ease;
}
