body{
  background: white;
}


.gatewaySection{
  padding-top: 6.9182vw;
  display: flex;
  justify-content: center;
}
.gatewayContainer{
  width: 85.1475vw;
  display: flex;
}
.gatewayLeftBox{
  margin-right: 0.87082vw;
  width: 30.96274vw;
  flex-shrink: 0;
  border: 1px solid #5e606c;
}
.gatewayLeftBox{
  display: flex;
  justify-content: center;
}
.gatewayLeftBoxInside{
  width: 26.608vw;
  margin-top: 3.87vw;
}

.gatewayLeftBoxInside h3{
  font-size: 1.4513vw;
  font-family: 'Lato-Bold';
  text-align: center;
  color: #5d5d6c;
}

.descriptionbox{
  font-size: 1.4513vw;
  font-family: 'Lato-Bold';
  background: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  color: #81818d;
}

.descriptionbox p{
  margin: 0.5vw;
}
.gatewayLeftBoxInside h4{
  font-size: 1.161vw;
  color: #98ddbd;
  font-family: 'Lato-Bold';
}

.orderBox{
  display: flex;
  justify-content: space-between;
  color: #4f4f59;
  font-size: 1.06434vw;
  font-family:  'Lato-Bold';
  border-bottom: 1px solid #5e606c;
}
.total{
  display: flex;
  justify-content: space-between;
}

.orderLeftBox{

}
.orderRightBox{
  text-align: right;
}



.gatewayRightBox{
  margin-left: 0.87082vw;
  width: 50.5vw;
  flex-shrink: 0;
  border: 1px solid #5e606c;
  padding: 0.75vw;
}


.payPalHeaderDiv{
  /* width: 50.846 */
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.payPalHeaderDiv h2{
  color: #75d1a7;
  font-size: 1.9351vw;
  font-family: 'Lato-Bold';
}
.payPalHeaderDiv img{
  width: 23vw;
  cursor: pointer;
}

.payWithPPacc{
  cursor: pointer;
  border: 1px solid #5e606c;
  background: linear-gradient(to bottom, rgba(254,254,255,1) 0%, rgba(235,237,240,1) 100%);
  margin-top: 0.75vw;
  padding-left: 3.2vw;
}

.payWithPPacc h3{
color: #595964;
  font-size: 1.16110vw;
  font-family: 'Lato-Bold';
}

.payWithPPacc p{
  font-size: 1.16110vw;
  font-family: 'Lato-Light';
}

.createAnewPP{
  padding-left: 4vw;
  padding-top: 2vw;
}

.createAnewPP h3{
color: #595964;
  font-size: 1.16110vw;
  font-family: 'Lato-Bold';
}

.createAnewPP p{
  font-size: 1.16110vw;
  font-family: 'Lato-Light';
}
.createAnewPP p span{
color: #595964;
  font-family: 'Lato-Bold';
  cursor: pointer;
}

.learnMoreAboutPP{
  padding-left: 4vw;
  padding-top: 1vw;
}

.learnMoreAboutPP p{
  font-family: 'Lato-Light';
  font-size: 1.16110vw;
}

.learnMoreAboutPP p span{
color: #595964;
  font-family: 'Lato-Bold';
}
.paymentInfoContainer{
  margin-left: 9vw;
}
.country{
color: #595964;
  display: flex;
  align-items: center;
  font-family: 'Lato-Bold';
  font-size: 1.16110vw;
}

.country select{
  margin-left: 1vw;
  width: 10vw;
  height: 1.5965vw;
}

.billMeLaterInputBox{
  color: #595964;
  display: flex;
  align-items: center;
  font-size: 1.0643vw;
  font-family: 'Lato-Regular';
}

.billMeLaterInputBox button{
  width: 4.3541vw;
  height: 2.1286vw;
  border: 1px solid #595965;
  background: #71d697;
  cursor: pointer;
  color: #595964;
  font-family: 'Lato-Bold';
}

.billmeTextBox p{
  margin: 0;
  margin-left: 2.6vw;
  color: #595964;
  font-size: 0.8708vw;
  font-family: 'Lato-Bold';
}

.billmeTextBox a{
  text-decoration: none;
  color: #71d697;
  cursor: pointer;
}

.cCardBox{
  display: flex;
  align-items: center;
  font-size: 0.8708vw;
  font-family: 'Lato-Bold';
  color: #595964;
}

.cCardInputBox{
  margin-left: -5vw;
  display: flex;
  align-items: center;
  font-size: 0.8708vw;
  font-family: 'Lato-Bold';
  color: #595964;
}

.cCardInputBox p{
  margin-right: 1vw;
}

.cCardInputBox input{
  height: 1.5965vw;
}

.cCardInputBox button{
  width: 4.3541vw;
  height: 2.1286vw;
  border: 1px solid #595965;
  background: #71d697;
  cursor: pointer;
  color: #595964;
  font-family: 'Lato-Bold';
  margin-left: 1vw;
}

.ppSpr{
  background-size: 100% 100%;
  background-image: url('../images/gateway/ppSpr.jpg');
  width: 24vw;
  height: 4vw;
  margin-left: -6vw;
  cursor: pointer;
}
