.secRecovery{
  background: white;
  padding: 0.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato-Regular';
}

.secRecovery hr{
  margin-top: 3.58353vw;
  width: 92.5vw;
  margin-left: 3.75vw;
  opacity: 0.3;
}

.resetPassContainer{
  width: 46.7796vw;
  margin-bottom: 3.7vw;
  position: relative;
  left: -8vw;
}
.resetPassContainer h2{
  font-size: 1.90556vw;
  font-family: 'Lato-Light';
  color: #686b6e;
  border-bottom: 1px solid #d0d0ce;
  margin-top: 2.4vw;
  padding-bottom: 0.4vw;
}

.resetPassContainer p{
  font-size: 1vw;
  color: #555350;
}

.recoveryForm{
  display: flex;
  align-items: baseline;
  font-family: 'Lato-Regular';
}

.recoveryForm p{
  color: #555350;
  margin-right: 2.76vw;
}

.recoveryForm{

}

.formBox{
 display: flex;
 flex-direction: column;
}
.recoveryInput{
  color: #555350;
  font-size: 1vw;
  background: #f3f9f9;
  width: 23.0508vw;
  height: 2.3244vw;
  border: 2px solid #dddbda;
  border-radius: 3px;
}

.formBox button{
  width: 13.0266vw;
  height: 2.518vw;
  background: #36d3b3;
  border: none;
  margin-top: 0.5811vw;
  font-family: 'Lato-Regular';
  font-size: 1.1vw;
}
