div{
  position: relative;
}

main{
  position: relative;
  background: #33cca0;
  padding: 0.1px;
  /* border: 1px solid red; */
  padding-left: 6.6962vw;
  padding-right: 6.6962vw;
  padding-bottom: 59vw;
}

.dateOverlay{
  /* border: 1px solid red; */
  display: none;
  opacity: 0;
  transition: all 0.9s ease;
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  /* display: flex; */
  /* justify-content: center; */
}
.dateContainer{
  display: flex;

}
.calendarBox{
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  width: 50%;
  padding-top: 3vw;
}
.dateRightColumn{
  /* border: 1px solid yellow; */
  width: 50%;
  padding-top: 2vw;
}
.dateRightColumn p{
  font-family: 'Lato-Regular';
  font-size: 1.4vw;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}
.timeGridContainer{
  /* border: 1px solid red; */
  width: 21.84vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1.98547vw;
  grid-gap: 0.5811vw;
  margin-left: 1vw;
  margin-top: 2vw;
  font-family: 'Lato-Bold';
  color: #787878;
}
.timeBox{
  user-select: none;
  background: #9ffec6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95vw;
  cursor: pointer;
}

.estimatedPriceBox{
  font-family: 'Lato-Regular';
  background: #f2f2f2;
  width: 21.694vw;
  height: 6.1985vw;
  color: #525252;
  text-align: center;
  font-size: 1.16222vw;
  display: flex;
  flex-direction: column;
  margin-left: 1.1vw;
  margin-top: 2vw;
}
.estimatedPriceBox p:nth-child(2){
  font-size: 1.7433vw;
}

.visitStudioPageDateButton{
  width: 17.578vw;
  height: 3.8256vw;
  background: #ffba77;
  margin-top: 2vw;
  color: white;
  border: none;
  margin-left: 3vw;
  font-size: 1.4527vw;
  font-family: 'Lato-Bold';
  cursor: pointer;
  transition: 0.5s ease;
}
.visitStudioPageDateButton:hover{
  filter: brightness(1.2);
}


.dateContainer{
  background: white;
  width: 83vw;
  height: 46vw;
  margin-left: 8.5vw;
}


.dateImg{
  transition: all 1.5s ease;
  width: 72.1811vw;
  margin-top: 5.76vw;
  /* margin-left: 13.4229vw; */
  margin-left: 10.4229vw;
}

.closeDateBox {
  height: 3vw;
  width: 3vw;
  font-family: 'Lato-Black';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2vw;
  /* left: 81vw; */
  background: black;
  z-index: 1;
  border-radius: 50%;
  right: 10vw;
}
.closeDateBox:hover{
  cursor: pointer;
}

.closeDateBox p{
  color: white;
  font-size: 2vw;
  margin: 0;
  margin-top: -0.41vw;
  pointer-events: none;
}

main form{
  display: flex;
  margin-top: 0.2vw;
}

.formBoxText{
  color: white;
  text-align: right;
}

.formBoxText p{
  margin: 0;
}

main h2{
  margin: 0;
  color: white;
  font-size: 1.96947vw;
  margin-top: 2.7vw;
  font-family: 'Lato-Bold';
  font-weight: 100;
}
main h3{
  color: white;
  font-size: 1.4771vw;
  font-family: 'Lato-Bold';
  font-weight: 100;
  margin: 0;
  margin-top: 1.3vw;
}
.formBoxText p{
  font-family: 'Lato-Regular';
  font-size: 1.181vw;
  margin-bottom: 0.4vw;
}

.formBoxInput input{
  font-family: 'Lato-Bold';
  margin-left: 0.7vw;
  height: 1.329394vw;
  width: 10.5vw;
  border: 1px solid white;
  background: #d6f5ec;
  font-size: 1.081vw;
  color: rgba(80,80,80,0.8);
}

/* .formBoxInput input:nth-child(3){
  margin-top: 0.4vw;
  width: 9.3vw;
} */

/* searchResultContainer start */
.searchResultContainer{
  margin-top: 1.477vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resultBox{
  position: relative;
  width: 26.9817vw;
  /* height: 25.25vw; */
  background: white;
  box-shadow: 0px 0px 37px 15px rgba(0,0,0,0.2);
}

.resultImageBox{
  position: relative;
  height: 18.21vw;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid; */
}

.resultImageBox:hover > .resultBoxInsideLayer{
  opacity: 1;
}

.resultMainImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.resultBoxInsideLayer{
  transition: all 0.5s ease;
  opacity: 0;
  padding: 0.1px;
  position: relative;
  width: calc(100% - 0.9354vw * 2);
  height: calc(100% - 0.9354vw * 2);
  margin: 0.9354vw;
  background: rgba(51,204,160,0.9);
}

.checkAvailability{
  font-family: 'Montserrat-Bold';
  position: absolute;
  width: 8vw;
  height: 2.4vw;
  transform: scaleX(1.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5vw;
  left: 8.5vw;
  bottom: 3vw;
  background: #33cca0;
  transition: all 0.5s ease;
}

.checkAvailability:hover{
  cursor: pointer;
  filter: brightness(1.15);
}

.checkAvailability p{
  color: white;
  font-size: 1vw;
  transform: scaleX(0.7);
  white-space: nowrap;
}

.visitStudioPage{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid white;
  height: 2.46184vw;
  background: #ff975c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitStudioPage:hover > .visitStudioPageText{
  text-decoration: underline;
}

.visitStudioPage P{
  color: white;
  font-size: 1.481vw;
  font-family: 'Lato-Bold';
}

.resultBoxSocialMedia{
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  margin-top: 3.4958vw;
}

.resultBoxSocialMedia a{
  text-decoration: none;
}

.resultBoxSocialMedia .fab{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  width: 3.0034vw;
  height: 3.0034vw;
  border-radius: 50%;
  font-size: 1.3vw;
  margin-left: 0.17232vw;
  margin-right: 0.17232vw;
  text-decoration: none;
}
.resultBoxSocialMedia .fab:hover{
  filter: brightness(1.5);
}

.resultInfoBox{
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 0.6893vw 0 0.98473vw 0.915vw;
  height: 5.2vw;
}

.priceBox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #ffd5be;
  width: 6.59773vw;
}

.priceBox p{
  color: #998478;
  font-size: 1.477vw;
  font-family: "Lato-Black";
}

.resultInfoText {
    /* border: 1px solid; */
    width: 18.217vw;
    /* float: right; */
}

.resultInfoText p{
  color: black;
  font-size: 1.624vw;
  margin: 0;
  font-family: 'Lato-Regular';
}

.rating{
  transition: all 0.3s ease;
  margin-top: 0.4vw;
  color: #ffd5be;
}
.rating .fas:hover{
  filter: brightness(1.1);
}

.rating a{
  color: #ffd5be;
  text-decoration: none;
}
/* searchResultContainer end */
