@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.ttf') format('truetype');
}

body{
  padding: 0;
  margin: 0;
}



/* header start */
header nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.69327vw;
  padding-bottom: 1.69327vw;
}

.logo{
  width: 11.3691vw;
}

.headerForm{
  position: relative;
}

.headerForm::after{
  position: absolute;
  display: block;
  content: '';
  left: 1vw;
  top: 0.9vw;
  width: 1.5vw;
  height: 1.5vw;
  background-image: url('../images/searchIcon.png');
  background-size:  100% 100%;
}

header nav input{
  font-size: 0.9675vw;
  padding-left: 4vw;
  width: 30.5757vw;
  height: 2.9027vw;
  border-radius: 2vw;
  border: 1px solid black;
}

.headerLinks a{
  font-family: 'Montserrat-Regular';
  text-decoration: none;
  color: #6e6e6e;
  font-size: 0.87082vw;
}
.headerLinks a:nth-child(1){
  margin-right: 2vw;
}

.bannerArea{
  position: relative;
}

.bannerArea img{
  width: 100%;
  position: relative;
}

.bannerText{
  position: absolute;
  /* border: 1px solid; */
  top: 13.691vw;
  left: 2.9vw;
  color: white;
  font-family: 'Lato-Bold';
}

.bannerText h2{
  margin: 0;
  font-size: 3.48330vw;
  margin-bottom: 1.2vw;
  margin-left: 3.4349vw;
  transition: all 1.5s ease;
  opacity: 0;
  filter: blur(10px);
}

.studiosContainer{
  width: 50.0725vw;
  height: 10.0628vw;
  background: rgba(255,61,69,0.45);
  position: relative;
  overflow: hidden;
  width: 0vw;
  transition: all 1.5s ease;
}
.bannerText h1{
  margin: 0;
  font-size: 8.22447vw;
  margin-left: 2.7576vw;
  position: absolute;
  font-family: 'Lato-Black';
}
/* header end */

/* clifford Section start */
.cliffordSection{
  position: relative;
}

.cliffordSection h2{
  margin: 0;
  text-align: center;
  font-size: 3.48330vw;
  font-family: 'Lato-Light';
  color: #5b5b5b;
  margin-top: 3.870vw;
}
.cliffordSection b{
  font-family: 'Lato-Bold';
}
.cliffordSection h3{
  margin: 0;
  text-align: center;
  font-size: 1.7416vw;
  font-family: 'Lato-Light';
  color: #5b5b5b;
  /* margin-top: 1.83841vw; */
}

.cliffordSection h4{
  font-family: 'Lato-Light';
  text-align: center;
  font-size: 3.48330vw;
  margin-bottom: 0;
  color: #5b5b5b;
  font-weight: 100;
  margin-top: 7vw;
}

.cliffImagesContainer{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 4.644vw;
}
.cliffImagesContainer img{
  width: 29.027vw;
  margin:0.338vw;
}
/* clifford Section end */

/* Featured band section start */
.featuredSection{
  position: relative;
  color: white;
}
.featuredSection img{
  width: 100%;
}

.theNewBoysTextCoontainer{
  position: absolute;
  /* border: 1px solid red; */
  text-align: center;
  top: 8.2244vw;
  left: 8.708vw;
}
.theNewBoysTextCoontainer h2{
  font-family: 'Montserrat-Bold';
  margin: 0;
  font-size: 3.483vw;
}
.theWayWeAreContainer{
  position: relative;
  overflow: hidden;
}
.theWayWeAre{
  transition: all 1s ease;
  font-family: 'Montserrat-Light';
  margin: 0;
  font-size: 0.677vw;
  position: relative;
  top: -2vw;
}

.featuredSection h3{
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 5.8vw;
  font-family: 'Montserrat-Bold';
  margin: 0;
  bottom: 2.66vw;
}

/* Featured band section end */
